<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Vetx </title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Raleway', sans-serif;
        }
        
        a:hover {
            text-decoration: none !important;
        }
        
        .group-form {
            padding: 0 20px;
            margin-bottom: 15px;
        }
        
        ul.social,
        .store {
            margin: 0;
            padding: 0;
        }
        
        ul.social li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        ul.social li img {
            width: 40px;
        }
        
        .inner {
            position: relative;
            font-family: 'Lato', sans-serif;
            text-align: center;
            width: 450px;
            margin: 0 auto;
            background-image: url('https://www.vetxapp.com/public/mail/images/doc_bg.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 350px;
            color: #fff;
            font-size: 24px;
        }
        
        .inner-con {
            line-height: 50px;
            margin-top: 50px;
            display: inline-block;
            border-top: 5px solid #f5841f;
            border-bottom: 5px solid #f5841f;
        }
        
        .store li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        .ul-cls li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
        }
        
        .ul-cls-panel li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
            list-style-type: decimal;
        }
        
        .store li img {
            width: 140px;
        }
        p{line-height:24px;}
    </style>
</head>

<body style="margin: 0; padding: 0; background: #f2f2f2;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
            <td align="center" style="margin: 0; padding: 0; padding: 0">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif;" class="header">
                    <tr>
                        <!--<td bgcolor="#fef5ec" height="100" align="center">
                            <h4 style="margin: 0px; color: #f99e4f; font-weight: 500;font-size: 26px;">[admin name] added you to VetX!</h4>
                        </td>-->
                    </tr>
                </table>
                <!-- header-->
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif;; background: #fff;" bgcolor="#ffffff">
                    <tr>
                        <td width="450" valign="top" align="left" bgcolor="#ffffff" style="font-family: 'Raleway', sans-serif; background: #fff;">
                            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="415" class="content">
                                <tr>
                                    <!--   <td><img src="images/bgnew.png" width="450px"></td> -->
                                    <div class="inner">
                                        <div class="inner-con">
                                            Congrats !<a href="#" style="color:#ff8504;text-decoration:none;">{{variable4}}</a> HAS ADDED YOU AS A VETERINARIAN!
                                            
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 30px; font-family: 'Raleway', sans-serif; " valign="top" align="left">
                                        <h1 style="padding-left: 30px; padding-top: 20px;
                                        font-size: 18px;font-weight: 500;color: #ff8504;">Dear <a href="#" style="color:#ff8504;text-decoration:none;">{{variable5}}</a> </h1>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Congrats! </p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">You have just been added as a veterinarian on VetX.</p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">If you are available to take a consultation remotely through video, simply login here: <a href="#" style="color:#ff8504;text-decoration:none;">{{variable2}}</a> and we will notify you if any of your patients has a question. If you are unavailable, simply log out and we will make sure that any questions not taken by your clinic get answered by our staff of veterinarians</p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Please reach out to us anytime with any questions, comments or concern. We are obsessed with providing the highest quality service and will do everything possible to keep you as a happy customer!</p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Lets go! </p>
                                        <a style="color: #f99e4f; font-size: 15px;padding-left: 30px; padding-right: 30px;" target="_blank" href="{{variable2}}">{{variable2}}</a>

                                        <ul class="ul-cls-panel">
                                            <li>Admin Panel: <a style="color: #f99e4f;" href="{{variable2}}" target="_blank">{{variable2}}</a>
                                               <br>  login here:<br>
                                               Email Id : {{variable1}}<br>
                                               Password: {{variable3}} </li>
                                           </ul>
                                       </td>
                                   </tr>
                               </table>
                               <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; padding-bottom: 30px;" width="415" class="content">
                                <tr>
                                    <td style="font-family: 'Raleway', sans-serif;     width: 170px; " valign="top" align="left">
                                       <a href="{{variable2}}"> <button type="button" style="font-size: 20px;
                                        background: #f6851f; color: #fff; border: none;outline: none; padding: 10px 20px;    border-radius: 5px; cursor: pointer;     margin-left: 30px; margin-top: 55px; cursor:pointer;">Lets go!</button></a>
                                    </td>
                                    <td style="font-family: 'Raleway', sans-serif; " valign="top" align="left">
                                        <img src="https://www.vetxapp.com/public/mail/images/arrow.png" style="width: 100px;">
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; padding-bottom: 30px;" width="415" class="content">
                                <tr>
                                    <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                        <h5 style="font-size: 16px; padding-left: 30px;">Best Regards,</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                        <img src="https://www.vetxapp.com/public/mail/images/sign.png" style="padding-left: 20px;width: 190px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                        <p style="padding-left: 30px;font-size: 12px;font-weight: 600;color: #666666;">Co-Founder/CEO of Vetx</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- body -->
                <!-- footer 1-->
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif; line-height: 10px;" bgcolor="#394e57" class="footer">
                    <tr>
                        <td bgcolor="#f99e4f" align="center" style="padding: 20px 0 20px; font-size: 11px; color:#fff; margin: 0; line-height: 1.2;font-family: 'Raleway', sans-serif;" valign="top">
                            <ul class="social">
                                <li>
                                    <a href="https://twitter.com/vetxapp" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/twitter.png"></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/vetxapp/" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/fb.png"></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/vetxapp/" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/instragram.png"></a>
                                </li>
                            </ul>
                            <!--<ul class="store">
                                <li>
                                    <a href=""><img src="images/apple.png"></a>
                                </li>
                                <li>
                                    <a href=""><img src="images/android.png"></a>
                                </li>
                            </ul>-->
                        </td>
                    </tr>
                </table>
                <!-- footer 1-->
                <!-- footer 2-->
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif; line-height: 10px;" bgcolor="#394e57" class="footer">
                    <tr>
                        <td bgcolor="#f6851f" align="center" style="padding: 20px 0 20px; font-size: 11px; color:#fff; margin: 0; line-height: 1.2;font-family: 'Raleway', sans-serif;" valign="top">
                            <img src="https://www.vetxapp.com/public/mail/images/foot.png">
                            <p style="font-size: 13px;">Copyright © "2017" "VetX", All rights reserved
                                <br>
                                <br> Our mailing address is:
                                <br> 715 Boylston Street
                                <br> Suite 120
                                <br> Boston MA 02116
                                <br>
                                <br> Update your preferences or unsubscribe</p>
                            </td>
                        </tr>
                    </table>
                    <!-- footer 2-->
                </td>
            </tr>
        </table>
    </body>

    </html>
