<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Vetx </title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Raleway', sans-serif;
        }
        
        a:hover {
            text-decoration: none !important;
        }
        
        .group-form {
            padding: 0 20px;
            margin-bottom: 15px;
        }
        
        ul.social,
        .store {
            margin: 0;
            padding: 0;
        }
        
        ul.social li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        ul.social li img {
            width: 40px;
        }
        
        .store li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        .ul-cls li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
        }
        .ul-cls-panel li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
            list-style-type:decimal;
        }
        
        .store li img {
            width: 140px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background: #f2f2f2;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
            <td align="center" style="margin: 0; padding: 0; padding: 0">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif;" class="header">
                    <tr>
                        <!--<td bgcolor="#fef5ec" height="100" align="center">
                            <h4 style="margin: 0px; color: #f99e4f; font-weight: 500;font-size: 26px;">Thank you for joining VetX!</h4>
                        </td>-->
                    </tr>
                </table>
                <!-- header-->
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif;; background: #fff;" bgcolor="#ffffff">
                    <tr>
                        <td width="450" valign="top" align="left" bgcolor="#ffffff" style="font-family: 'Raleway', sans-serif; background: #fff;">
                            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="415" class="content">
                                <tr>
                                    <td><img src="https://www.vetxapp.com/public/mail/images/bg.png" width="450px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 30px; font-family: 'Raleway', sans-serif; " valign="top" align="left">
                                        <h1 style="padding-left: 30px; padding-top: 20px;
                                        font-size: 18px;font-weight: 500;color: #ff8504;">Dear {{variable4}},</h1>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Thank you for joining the VetX community!</p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;"> VetX was created with the desire to improve access to veterinary care for the furry ones we love most. We firmly believe in the value of our service both for you as a clinic and for your patients!</p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">As a reminder before you get started, VetX has 3 main components which encompass both your web presence and your phone system: the Admin Portal, the Veterinarian Portal and the User Portal. </p>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Here’s a brief explanation of what they are and how they work:</p>
                                        <h2 style="padding-left: 30px;">Admin Portal</h2>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">The Admin portal is where you as an Admin can see all the action. At a glance, you can see all the calls received, all the web consultations made and all the appointments made so you can track the ROI impact on your business. </p>
                                        
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Through the Admin portal, you can easily: </p>
                                        
                                        <ul class="ul-cls">
                                            <li>Add/remove your veterinarians in case they’d like to answer video-on-demand questions during normal business hours.<br> <br> <strong>Note :</strong> if you’d like our veterinarians to field all in-coming questions both during the day just leave this blank and our system will re-direct the questions for you!</li>
                                            
                                            <li>Check the status of your phone integration</li>
                                            <li>Manage hours of operation, collect payments, send messages to all of your clients and more!</li>
                                            
                                        </ul>
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">Please note that as we roll out our Version 2.0 the Admin Portal will be updated to provide a dashboard view of your analytics in real time. During the meanwhile, we will provide you monthly summaries via email.</p>
                                        
                                        <h2 style="padding-left: 30px; padding-top: 10px;">Veterinarian Portal</h2>
                                        
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">If you’d like your veterinarians to be able to field questions during normal business hours, just add them through the Admin Portal and they will receive a special URL via email where they can login. From there, they can take calls, charge customers and set appointment requests!</p>
                                        
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;"><strong>Note:</strong> as mentioned previously, if you’d like our veterinarians to field all in-coming questions both during the day just leave this blank and our system will re-direct the questions for you!</p>
                                        
                                        
                                        
                                        <h2 style="padding-left: 30px; padding-top: 10px;">User Portal</h2>
                                        
                                        <p style="padding-left: 30px; padding-right: 30px; font-size: 15px;letter-spacing: 0.6px;">The User Portal is a fully customizable website that your patients will go to access the on-demand web services. From here, your patients can:</p>
                                        
                                        <ul class="ul-cls">
                                            <li>Ask for a video on demand consultation</li>
                                            <li>Request an appointment </li>
                                            <li>Make payments (if applicable)</li>
                                        </ul>
                                        <p style="padding-left: 30px; padding-right: 30px;
                                        font-size: 15px;letter-spacing: 0.6px;">That’s it! In combination with your phone system integration, VetX is a comprehensive suite of services that will allow your patients to have access to care around the clock. </p>
                                        
                                        <p style="padding-left: 30px; padding-right: 30px;
                                        font-size: 15px;letter-spacing: 0.6px;">Below are the relevant links to save and store: </p>
                                        <p style="padding-left: 30px; padding-right: 30px;
                                        font-size: 15px;letter-spacing: 0.6px;"><strong>To Access the Admin Portal: </strong></p>
                                        <ul class="ul-cls-panel">
                                            <li>Go to: : <a style="color: #f99e4f;" href="https://www.vetxapp.com" target="_blank"> https://www.vetxapp.com</a>
                                               <p style="padding-right: 30px;
                                               font-size: 15px;letter-spacing: 0.6px;">Login using the following information</p>  

                                               <ul class="ul-cls-panel">
                                                <li>Email ID : <span style="color: #f99e4f;">{{variable1}}</span></li>
                                                <li>Password: <span style="color: #f99e4f;">{{variable3}}</span></li>
                                            </ul>
                                            
                                        </li>
                                    </ul>
                                    <p style="padding-left: 30px; padding-right: 30px;
                                    font-size: 15px;letter-spacing: 0.6px;"><strong>To Access the Veterinarian Portal </strong></p>
                                    <ul class="ul-cls-panel">
                                        <li>Login as an Admin</li>
                                        <li>Add a Veterinarian (make sure their email address is correct!)</li>
                                        <li>You will receive a special link via email with instructions to login</li>
                                    </ul>
                                    
                                    <p style="padding-left: 30px; padding-right: 30px;
                                    font-size: 15px;letter-spacing: 0.6px;"><strong>To Access the User Portal </strong></p>
                                    <ul class="ul-cls-panel">
                                        <li>Just visit this URL and sign up:<br> <a href="https://www.vetxapp.com/{{variable4}}" style="color: #f99e4f;">https://www.vetxapp.com/{{variable4}}</a></li>
                                        <li><strong>Note:</strong> the page is fully customizable through the Admin Panel</li>
                                        <li>You will receive a special link via email with instructions to login</li>
                                    </ul>
                                    
                                    <p style="padding-left: 30px; padding-right: 30px;
                                    font-size: 15px;letter-spacing: 0.6px;">If you have any questions, comments or concerns please log into your Admin Portal and check out the <a href="https://www.vetxapp.com/faq" style="color: #f99e4f;">FAQ </a> section or <a href="https://www.vetxapp.com/contactus" style="color: #f99e4f;">Contact Us</a> anytime!We are obsessed with providing the highest quality service and promise to respond as soon as possible!</p>
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; padding-bottom: 30px;" width="415" class="content">
                            <tr>
                                <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                   <a href="https://www.vetxapp.com/{{variable4}}">   <button type="button" style="font-size: 20px;
                                    background: #f6851f; color: #fff; border: none;outline: none; padding: 10px 20px;    border-radius: 5px; cursor: pointer;     margin-left: 30px; margin-top: 55px; cursor:pointer;">Take a Look</button></a>
                                </td>
                                <td style="font-family: 'Raleway', sans-serif; " valign="top" align="left">
                                    <img src="https://www.vetxapp.com/public/mail/images/arrow.png" style="width: 100px;">
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0; padding-bottom: 30px;" width="415" class="content">
                            <tr>
                                <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                    <h5 style="font-size: 16px; padding-left: 30px;">Best Regards,</h5>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                    <img src="https://www.vetxapp.com/public/mail/images/sign.png" style="padding-left: 20px;width: 190px;">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: 'Raleway', sans-serif;     width: 200px; " valign="top" align="left">
                                    <p style="padding-left: 30px;font-size: 12px;font-weight: 600;color: #666666;">Co-Founder/CEO of Vetx</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- body -->
            <!-- footer 1-->
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif; line-height: 10px;" bgcolor="#394e57" class="footer">
                <tr>
                    <td bgcolor="#f99e4f" align="center" style="padding: 20px 0 20px; font-size: 11px; color:#fff; margin: 0; line-height: 1.2;font-family: 'Raleway', sans-serif;" valign="top">
                        <ul class="social">
                            <li>
                                <a href="https://twitter.com/vetxapp" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/twitter.png"></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vetxapp/" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/fb.png"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vetxapp/" target="_blank"><img src="https://www.vetxapp.com/public/mail/images/instragram.png"></a>
                            </li>
                        </ul>
                            <!--<ul class="store">
                                <li>
                                    <a href=""><img src="https://www.vetxapp.com/public/mail/images/apple.png"></a>
                                </li>
                                <li>
                                    <a href=""><img src="https://www.vetxapp.com/public/mail/images/android.png"></a>
                                </li>
                            </ul>-->
                        </td>
                    </tr>
                </table>
                <!-- footer 1-->
                <!-- footer 2-->
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" style="font-family: 'Raleway', sans-serif; line-height: 10px;" bgcolor="#394e57" class="footer">
                    <tr>
                        <td bgcolor="#f6851f" align="center" style="padding: 20px 0 20px; font-size: 11px; color:#fff; margin: 0; line-height: 1.2;font-family: 'Raleway', sans-serif;" valign="top">
                            <img src="https://www.vetxapp.com/public/mail/images/foot.png">
                            <p style="font-size: 13px;">Copyright © "2017" "VetX", All rights reserved
                                <br>
                                <br> Our mailing address is:
                                <br> 75 Arlington St.
                                <br> Suite 500
                                <br> Boston MA 02116
                                <br>
                                <br> Update your preferences or unsubscribe</p>
                            </td>
                        </tr>
                    </table>
                    <!-- footer 2-->
                </td>
            </tr>
        </table>
    </body>

    </html>
