<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>VetX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/Favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="public/css/animations.css">
    <link rel="stylesheet" href="public/css/simpleform.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="10">
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav id="custom-nav" class="">

    <a href="/" class="navbar-brand" style="padding-top: 30px; padding-bottom: 18px;  padding-left: 100px;"><img class="logo-image" src="public/img/Logo1.png"></a>

</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <div class="row order-1-image firstsectionbuy"   >

            <div class="col-md-12 col-sm-12 col-xs-12 ">


                <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                        <span >
                            <h1 class="heading-1" style="margin-top: 18%; margin-bottom: 50px; font-size: 44px; font-family: 'Open Sans', sans-serif; color: white; ">Join the VetX community</h1>
                        </span>
                    </div>
               <!--      <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 ">
                        <img src="public/img/banner_1.png" class="img-responsive" id="signUpBar">
                    </div> -->
                </div>
            <!--     <div class="col-md-offset-2 col-md-2 col-sm-12 col-xs-12 ">
                    <p class="paragraph-white"> Select Products</p>
                </div>
                <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12 ">
                    <p class="paragraph-grey-buy"> Order Information</p>
                </div>
                <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12 finalColumn ">
                    <p class="paragraph-grey-buy"> Review and Pay</p>
                </div> -->
            </div>
        </div>
<!-- 
        <div class="row order-1-image firstsectionbuy">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>
                            <h1 class="heading-1" style="margin-top: 115px; font-size: 44px; font-family: 'Open Sans', sans-serif; color: white; ">Join the VetX community</h1>
                        </span>
                    </div>

                </div>
            </div>
        </div> -->



        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12  tab-concept">
                        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                            <div class=" col-md-12 col-sm-12 col-xs-12 ">
                            </div>
                            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 ">
                                <img src="public/img/banner_1.png" class="img-responsive" id="signUpBar">
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-2 col-sm-12 col-xs-12 ">
                            <p class="paragraph-white select-white"> Select Products</p>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12 ">
                            <p class="paragraph-grey-buy"> Order Information</p>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12 finalColumn ">
                            <p class="paragraph-grey-buy"> Review and Pay</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 form-div">
                    <form id="testform2"  action="/clinic/register" method="POST">
                  <!--       <fieldset class="personal-data" id="trailPlan" style="display:none"> 
                            <div> <h1>This is 14 day trail  </h1> </div>
                        </fieldset> -->
                        <fieldset class="personal-data" id="paidPlan">
                          <% for (var i=0;i<enterPriceinfo.length;i++)  { %> 
                          <div class=" col-md-12 col-sm-12 col-xs-12  border1 borderclass">
                            <table class="table-responsive">
                                <thead>
                                    <tr>
                                        <th class="tablefontheaderlarge"><%= enterPriceinfo[i].title   %></th>
                                        <th class="tablefontheaderlarge">Price</th>
                                        <th class="tablefontheadersmall"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tablefontgraysmall">

                                           <div class="col-md-6">
                                            <ul class="cost-ul-orderinfo">
                                                <li>After hour triago support</li>
                                                <li>Video on Demand</li>
                                                <li>Customisable Interface</li>
                                                <li>Appointment Scheduling</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="cost-ul-1-orderinfo">

                                                <li>Report Generation</li>
                                                <li>Analytics</li>

                                            </ul>
                                        </div>
                                    <!-- <ul>
                                        <% for(var j=0;j<enterPriceinfo[i].description.length;j++) {  %>

                                        <li><%= enterPriceinfo[i].description[j]  %></li>
                                        <% } %>

                                    </ul> -->
                                </td>
                                <td>
                                    <p style="margin-bottom: 0px;" class="tablefontboldlarge">$ <%= enterPriceinfo[i].price   %>/
                                        <%= enterPriceinfo[i].tenure   %> </p>

                                        <% if(i==1) {  %>

                                        <!--    <p class="tablefontboldorangesmall">You save 35%</p> -->

                                        <% } %>

                                        <p></p>
                                    </td>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" 
                                                id="plan_info_<%= i+1 %>" name="plan_info"  value="<%= enterPriceinfo[i]._id  %>" onclick="setPrice('<%= enterPriceinfo[i].price %>','<%= enterPriceinfo[i].price %>')">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <% } %> 

                </fieldset>


                <fieldset class="personal-data">
                    <div class="row botm">
                        <div class="col-md-6 col-sm-6">
                            <h2 class="heading-1 billinginfo">Contact Information</h2>
                            <br>
                            <div class="form-group">
                                <input type="text" id="firstName" name="firstName" placeholder="First Name" class="buy-input" value="" />
                                <input type="hidden" id="price" name="price" value="498" >
                                <input type="hidden" id="doctorsCount" name="doctorsCount" value="2" >
                            </div>
                            <div class="form-group">
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="buy-input"  value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="username" name="username" placeholder="Clinic Name" class="buy-input"  value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" class="buy-input"  value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="email" name="email" placeholder="Email Address" class="buy-input" value=""  style="text-transform: lowercase;"/>
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" placeholder="Password" class="buy-input" value="" />
                            </div>
                            <div class="form-group">
                                <input type="Password" id="confirm_password" 
                                name="confirm_password" placeholder="Confirm password" class="buy-input" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h2 class="heading-1 billinginfo">Billing Information</h2>
                            <br>
                            <div class="form-group">
                                <input type="text" id="country" name="country" placeholder="Country" class="buy-input" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="address" name="address" placeholder="Address" class="buy-input" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="state" name="state" placeholder="State" class="buy-input" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="city" name="city" placeholder="City" class="buy-input"  value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="buy-input" 
                                value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code" class="buy-input"  value=""/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="address-data-inputs">
                    <div class="row botm">
                        <div class=" col-md-12 col-sm-12 col-xs-12 ">
                            <table class="table-responsive">
                                <thead>
                                    <tr>
                                        <th style="padding-left: 0px;" class="buyfontheaderlarge">Your Products</th>
                                        <!--  <th class="buyfontheaderlarge">Price</th> -->

                                        <th class="buyfontheaderlarge">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody class="borderclass">

                                    <% for (var i=0;i<enterPriceinfo.length;i++)  { %> 

                                    <tr id="selected_plan_content_<%= enterPriceinfo[i]._id %>" style="display:none">
                                        <td class="tablefontgraysmall">

                                            <!-- <h3 style="color:black"></h3> -->

                                            <div class="col-md-6">
                                                <ul class="cost-ul-orderinfo">
                                                    <li>After hour triago support</li>
                                                    <li>Video on Demand</li>
                                                    <li>Customisable Interface</li>
                                                    <li>Appointment Scheduling</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="cost-ul-1-orderinfo">
                                                    <li>Report Generation</li>
                                                    <li>Analytics</li>
                                                </ul>
                                            </div>
                                            <!-- <ul>
                                                <% for(var j=0;j<enterPriceinfo[i].description.length;j++) {  %>

                                                <li><%= enterPriceinfo[i].description[j]  %></li>
                                                <% } %>

                                            </ul>
                                        -->
                                    </td>
                                    <!--   <td class="buyfontheaderlarge">$<%= enterPriceinfo[i].price %> </td> -->

                                    <td class="buyfontheaderlarge">$<%= enterPriceinfo[i].price %>/<%= enterPriceinfo[i].tenure %></td>
                                </tr>


                                <% } %> 
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row botm">
                    <div class=" col-md-6 col-sm-12 col-xs-12 ">
                        <span><h2 class="buyfontheaderlarge">Contact Information</h2></span>
                        <br>
                        <br>
                        <p class="paragraph-grey">
                         <span id="user_name">Name and Surname</span><br>
                         <span id="clinic_name">Clinical Name</span><br>
                         <span id="email_val">name.surname@gmail.com</span><br>
                         <span id="mobile_val">+(123) 456 789 45</span><br>
                     </p>
                 </div>
                 <div class="col-md-6 col-sm-12 col-xs-12">
                    <span><h2 class="buyfontheaderlarge">Billing Address</h2></span>
                    <br>
                    <br>
                    <p class="paragraph-grey">
                      <span id="billing_address">Name and Surname</span><br>
                      <span id="billing_city">Clinical Name</span><br>
                      <span id="billing_state">name.surname@gmail.com</span><br>
                      <span id="billing_zipcode">name.surname@gmail.com</span><br>
                      <span id="billing_country">name.surname@gmail.com</span><br>

                  </p>
              </div>
              <div class="clearfix"></div>
              <div class="checkbox">
                <input type="checkbox" value="" class="checkbox-input" checked="checked">
                <label class="lbl-txt">I agree to the <a href="#" data-toggle="modal" data-target="#term">Terms of Use</a> and <a href="#" data-toggle="modal" data-target="#policy">Privacy Policy</a>.</label>
            </div>
        </div>
    </fieldset>
    <!--       <fieldset class="message-details">
            <div class="row botm">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 buyoption-noti">
                    <p class="paragraph-white-bold step3button"><span class="fa fa-check"></span> You are ready to start your digital consultations!</p>
                </div>
            </div>
        </fieldset> -->
        <div class="clear"></div>
    </form>
</div>
</div>
</div>


<!-- terms condition -->

<div id="term" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms and Conditions</h4>
    </div>
    <div class="modal-body">

        <div class="privacy_policy_container">

            <p>75 Arlington St. Suite 500</p>
            <p>Boston, MA 02116</p>
            <p>1-855-483-8669</p>
            <p><strong>Terms &amp; Conditions of Use</strong></p>
            <p>Please read these terms and conditions of use carefully before using this app or website or any other VetX product or service.</p>
            <h5>1. VETX DOES NOT PROVIDE DIAGNOSES OR PRESCRIBE MEDICATIONS</h5>
            <h5>2. GENERAL; OWNERSHIP; PROHIBITIONS</h5>
            <h5>3. NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</h5>
            <h5>4. COMMUNITY FEATURES</h5>
            <h5>5. SPECIAL TERMS AND CONDITIONS APPLICABLE TO SALES; CUSTOMER SERVICE CONTACT INFORMATION</h5>
            <h6>A. Price Modifications; Merchandise and Services Availability</h6>
            <h6>B. Required Notices of Certificates of Authenticity</h6>
            <h6>C. Customer Service</h6>
            <h6>D. Purchasing; Price; Payment</h6>
            <h6>E. Sales Tax</h6>
            <h6>F. Billing and Automatic Renewal Policies for Certain Subscription Services</h6>
            <h6>G. Refund Policies for Certain Subscription Services</h6>
            <h6>H. Notifications and Other Terms and Conditions</h6>
            <h6>I. Access to Services and Blackout Restrictions</h6>
            <h5>6. VOTES, CONTESTS, SWEEPSTAKES</h5>
            <h5>7. LINKING</h5>
            <h5>8. DISCLAIMER OF WARRANTIES</h5>
            <h5>9. LIMITATIONS ON DAMAGES AND LIABILITY</h5>
            <h5>10. INDEMNIFICATION</h5>
            <h5>11. TERMINATION</h5>
            <h5>12. ARBITRATION; CONSENT TO JURISDICTION IN MASSACHUSETTS; ATTORNEYS' FEES; TIME PERIOD LIMITATION FOR CLAIMS</h5>
            <h5>13. CHOICE OF LAW</h5>
            <h5>14. MISCELLANEOUS</h5>
            <h5>15. ACCEPTANCE OF TERMS OF USE</h5>
            <h5>16. NOTICE FOR CALIFORNIA CONSUMERS</h5>
            <h3>1. VETX DOES NOT PROVIDE DIAGNOSES OR PRESCRIBE MEDICATIONS</h3>
            <p>The contents of the VetX site, app and/orany phone service provided or any information provided by our veterinarians or related parties you contact through the VetX Site and app or phone service, are for educational and informational purposes only.&nbsp; Such content is not intended to be substitute for professional veterinary advice, diagnosis or treatment.&nbsp; VetX veterinarians do not possess a Veterinary Client Patient Relationship and in no way claim or seek to imply that their recommendations are a diagnosis or substitute for their regular veterinarian. Please do not disregard veterinary advice or delay in seeking it because of something you have read on the VetX Site, phone service or app.</p>
            <p>Veterinarians contacted through theVetX Site, app or phone service provide consultations and educational information but DO NOT provide diagnosis or prescribe medication.</p>
            <p>If you or your patient thinks they may have a medical emergency, we urge you or your patients to please contact the nearest emergency veterinary clinic immediately.</p>
            <p>VetX does not recommend or endorse any specific tests, veterinarians, products, procedures, opinions, or other information that maybe mentioned on the VetX Site.&nbsp; Reliance on any information provided by VetX, VetX employees, others you contact through the VetX Site, or other visitors to the VetX Site and app is solely at your own risk.</p>
            <h3>2. GENERAL; OWNERSHIP; PROHIBITIONS</h3>
            <p>Use of our website VetXapp.com, and any social media platform, mobile application, phone service integration or other website associated with this website (collectively, the &ldquo;VetX Site&rdquo; or the &ldquo;Site&rdquo;), and all products and services provided and/or distributed (whether via this Website, phone service integration or elsewhere) by VetX, Inc. (&ldquo;VetX&rdquo;) are subject to this Agreement. By using the VetX Site or by clicking a box that states you agree to this Agreement, you agree to be bound by this Agreement. If you do not agree to this Agreement, do not use the VetX Site.</p>
            <p>Except for Submitted Content (defined below), the VetX Site is either owned by or licensed to VetX. The applicable owners and licensors retain all rights to the VetX Site, including, but not limited to all copyright, trademark and other proprietary rights, however denominated. Except for downloading one copy of the material on the VetX Site on any single computer for your personal, non-commercial home use, you must not reproduce, prepare derivative works based upon, distribute, perform or display any such material without first obtaining the written permission of VetX. The material on the VetX Site must not be used in any unauthorized manner.</p>
            <p>When you submit personal information to the VetX Site, e.g. email address, you acknowledge and agree by acceptance of this Agreement that such personal information may be used by VetX in accordance with our Privacy Policy and applicable law.</p>
            <p>You must not use the VetX Site [or Community Features (defined below)] to: (i) transmit, store, embed or otherwise make available any information or material that infringes any right of VetX or any third party, however denominated, including, without limitation, copyright, trademark, patent, rights of privacy or publicity or any other proprietary right; (ii) transmit, store or otherwise make available material which disrupts the VetX Site, imposes an unreasonable or disproportionately large load on the VetX Site infrastructure, or otherwise adversely affects, restricts or inhibits any other user from using and enjoying the VetX Site; (iii) transmit, store or otherwise make available material which is false, threatening, abusive, libelous, defamatory, obscene, vulgar, demeaning, offensive, pornographic, profane, sexually explicit, indecent, inappropriate, constitutes hate speech, or which adversely affects VetX&rsquo;s business or is otherwise objectionable in VetX's sole discretion; (iv) transmit, store or otherwise make available material which constitutes or encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any local, state, national or international law; (v) transmit, store or otherwise make available a virus, trojan horse, worm, time bomb, spyware, bot or other harmful or deleterious programming routine; (vi) transmit, store or otherwise make available material which contains any information, software or other material of a commercial nature; (vii) transmit, store or otherwise make available material which contains advertising, promotions, &ldquo;junk mail,&rdquo; &ldquo;spam,&rdquo; &ldquo;pyramid schemes,&rdquo; &ldquo;chain letters&rdquo; or solicitation of any kind; (viii) transmit, store or otherwise make available material which constitutes or contains false or misleading indications of origin or statements of fact; (ix) exploit, harm, personally attack (personal attacks include, but are not limited to, defamatory, sexual and/or sexually implicit remarks) or any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; (x) use or attempt to use another's information, account, password, service or system except as expressly permitted; (xi) solicit, collect, transmit, store or otherwise make available private information of any third party including, without limitation, telephone numbers, addresses, last names, email addresses, Social Security numbers, or credit or debit card numbers; (xii) use automated scripts to collect information from or otherwise interact the VetX Site; [and (xii) transmit, store or otherwise make available material which is irrelevant to the subject matter of any Community Features (defined below)].</p>
            <p>Third party text, photo, graphic, audio and/or video material (collectively, the &ldquo;Third Party Materials&rdquo;), contained on or incorporated in the VetX Site shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium unless expressively allowed by VetX in writing. Neither these Third Party Materials nor any portion thereof may be stored in a computer except for personal and non-commercial use. No third party provider will be held liable in any way to any Website user or to any third party or to any other person who may receive information in the Third Party Materials or to any other person whatsoever, for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages arising from any of the foregoing or occasioned thereby.</p>
            <h3>3. NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</h3>
            <p>Pursuant to the Digital Millennium Copyright Act, Title 17, United States Code, Section 512(c)(2) (&ldquo;DMCA&rdquo;), VetX has designated to the U.S. Copyright Office an agent to receive notifications of claimed copyright infringement relating to the VetX Site (the &ldquo;Designated Agent&rdquo;). All such notifications relating to the VetX Site must be a written communication and must include the following information:</p>
            <h4>A. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</h4>
            <h4>B. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.</h4>
            <h4>C. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit VetX to locate the material.</h4>
            <h4>D. Information reasonably sufficient to permit VetX to contact the complaining party, such as an address, telephone number, and/or electronic mail address.</h4>
            <h4>E. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</h4>
            <h4>F. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</h4>
            <p>Claims of infringement which include the above required information must be submitted via postal mail, fax or e-mail to VetX's Designated Agent as follows:</p>
            <p>VetX Copyright Agent</p>
            <p>Address:&nbsp; 75Arlington St.</p>
            <p>Boston, MA 02111</p>
            <p>Country: United States of America</p>
            <p>Telephone Number of Designated Agent: [3105933568]</p>
            <p>Facsimile Number of Designated Agent: [857 303 8917]</p>
            <p>E-mail Address of Designated Agent:&nbsp; [hello@vetxapp.com]</p>
            <h3>4. COMMUNITY FEATURES</h3>
            <p>The VetX Site may offer opportunities for you to transmit messages, information, ideas, opinions, images, audio, video, creative works or other information or material (collectively, the &ldquo;Submitted Content&rdquo;) in connection with various features including, but not limited to, profiles, stories, forums, bulletin boards, contests, blogs, audio and/or video submissions, and message boards (collectively, the &ldquo;Community Features&rdquo;). You are solely responsible for your Submitted Content and must use the Community Features in a responsible manner. The VetX Site may also offer opportunities for you to transmit messages, information, ideas, opinions, images, audio, video, creative works or other information or material via third party social networking websites and products (&ldquo;Third Party Social Networking Features&rdquo;) Any use of Third Party Social Networking Features is subject to the then current terms of use of the applicable third party website or product and not this Agreement, unless you are notified otherwise, in which case the terms and conditions set forth in such notification will apply.</p>
            <p>In order to participate in Community Features, you may be asked to register an account by providing certain personal information such as your name and/or email address. The Privacy Policy of this Website explains how such information may be collected and used. In consideration of your use of the applicable Community Features, you agree (i) to provide accurate, current and complete information about yourself as may be prompted by any registration forms (&ldquo;Registration Data&rdquo;); (ii) to maintain the security of your password and identification; (iii) to maintain and promptly update Registration Data and any other information you provide to VetX, and to keep it accurate, current and complete; (iv) not to sell, transfer or assign your account; and (v) to be fully responsible for all use of your account and for any actions that take place using your account.</p>
            <p>VetX and its third-party providers (&ldquo;Vendors&rdquo;) do not monitor, endorse, edit or screen your Submitted Content, although VetX and its Vendors reserve the right to do so, and neither VetX nor its Vendors shall be liable for your Submitted Content. You acknowledge that your Submitted Content is not confidential and that your Submitted Content may be read, intercepted by others and widely accessible on the Internet and/or via other interactive media, and that you have no expectation of privacy with regard to any such submission. You acknowledge that by submitting your Submitted Content via the Community Features, no confidential, fiduciary, contractually implied or other relationship is created between you and VetX or between you and VetX's Vendors other than as expressly set forth in this Agreement. You acknowledge that VetX is not responsible for, and cannot and does not guarantee, the accuracy, completeness or reliability of information in any material posted or submitted by any user of the Community Features. You represent that your Submitted Content is an original work by you or that you have all necessary rights in it and to submit it to VetX under the terms of this Agreement. You further agree that you are solely liable for any and all costs, claims, demands, investigations, liabilities, losses, damages, judgments, settlements, costs and expenses, including attorneys' fees, connected to or arising from your breach of any representation or warranty, or other violation of this Agreement. If VetX determines, in VetX's sole discretion and judgment, that your Submitted Content violates, or may violate, any of the terms of this Agreement, VetX reserves the right to (a) refuse to allow you to upload information or otherwise transmit material; (b) remove and delete your Submitted Content; (c) revoke your right to use the VetX Website and/or, the Community Features; and/or (d) use any technological, legal, operational or other means available to VetX to enforce the provisions of this Agreement, including, without limitation, blocking specific IP addresses or deactivating your registration on the VetX Website or the Community Features.</p>
            <p>You are solely responsible for your interactions with other users of the VetX Website. You may use various features of certain Community Features to report violators. We reserve the right, but have no obligation, to monitor disputes between you and other users.</p>
            <p>By transmitting your Submitted Content via the Community Features, you grant, and represent and warrant that you have the right to grant, to VetX a worldwide, perpetual, royalty-free, non-exclusive, sub-licensable and irrevocable right and license to use, reproduce, prepare derivative works based upon, distribute, perform, sell and display your Submitted Content for any purpose throughout the universe, in whole or in part, in any form, media or technology known or hereafter developed.]</p>
            <p><strong>ALL PURCHASES ARE SUBJECT TO PRODUCT AVAILABILITY. VetX EXPRESSLY DISCLAIMS ANY RESPONSIBILITY OR LIABILITY FOR ANY DAMAGE, LOSS OR INJURY ARISING OUT OF: THE ACTIVITIES OF ANY VENDOR, THE MERCHANDISE OFFERED BY THE VENDORS, ANY LOSS OR INJURY RESULTING FROM YOUR ACCESS OR INABILITY TO ACCESS THE VETX SITE, ANY THIRD PARTY SALES LOCATIONS OR ANY PRODUCT OR SERVICE THEREIN, OR ANY LOSS OR INJURY ARISING OUT OF YOUR PURCHASE OR USE OF ANY PRODUCTS, MERCHANDISE OR SERVICES.</strong></p>
            <p>The Services and all other products offered via the VetX Site are provided for your private, non-commercial use, and you may not distribute, modify, translate, rebroadcast, transmit, perform or create derivative works of them.</p>
            <p>Price Modifications; Merchandise and Services Availability</p>
            <p>VetX reserves the right to modify the price of any Merchandise, Services or any other products offered via the VetX Site.</p>
            <p>With respect to Merchandise offered and/or sold via the VetX Site, we cannot confirm the price or availability of an item until you order; however, we do NOT charge your credit or debit card until after your order has entered the shipping process (with the exception of any special order or customized/personalized products, which will be billed immediately after the order is received). Despite our best efforts, a small number of the items in the VetX Site may be mispriced. If we discover a mispricing, we will do one of the following:</p>
            <h5>&middot; If an item's correct price is lower than our stated price, we will charge the lower amount and ship you the item.</h5>
            <h5>&middot; If an item's correct price is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation.</h5>
            <p>The Services and any other applicable products offered via the VetX Site or Third Party Providers are subject to transmission limitations of the Internet and, as applicable, wireless carriers, including, but not limited to, video and/or audio dropouts, rebuffering or loss of connection.</p>
            <h6>A. Customer Service</h6>
            <p>Should you have any questions about the purchase of Merchandise or Services via the VetX Site, please call VetX Customer Service at 857 303 8917 within the U.S., or e-mail hello@vetxapp.com.</p>
            <h6>B. Purchasing; Price; Payment</h6>
            <p>In order to purchase Merchandise, Services or any other products via the VetX Site or via Third Party Sales Locations, you may be required to provide complete and accurate personal information, including, without limitation, your name, address, telephone number, e-mail address, credit or debit card information and shipping address. The Privacy Policy of this Website explains how such information collected via the VetX Site may be collected and used by VetX. With respect to Third Party Providers, the privacy policy of any such Third Party Provider applies to the collection and use of your personal information by the operators and/or owners of such Third Party Provider. Your ability to purchase Merchandise, Services and/or any other products offered via the VetX Site is subject to limits established by your card issuer. You must notify VetX immediately of any change in your credit or debit card information, including any change to your home address. VetX may bill your credit or debit card at the time the Services, Merchandise or any other products offered via the VetX Site are ordered or shipped. You must pay all amounts accrued in your account, including sales tax and shipping and handling charges, when due. VetX may in its sole discretion decline service to or terminate any account. Neither VetX, nor any Vendor or any operator of any Third Party Provider is responsible, and must not be held liable, for any breaches in transaction security by any third party.</p>
            <p>By purchasing any Merchandise, Tickets, Services or any other products offered via the VetX Site, you acknowledge and agree that your credit or debit card is being charged by the payment processor of VetX or its Vendor, the operator of such product or service. For purposes of this Agreement, such payment processor will be referred to as a &ldquo;Vendor.&rdquo;</p>
            <p>By utilizing a credit or debit card for purchase of any Services or any other applicable products offered via the VetX Site, you authorize VetX to charge such card on the periodic basis as specified (e.g., once per month for monthly Services) in the amount described on the applicable Service or Services' purchase path(s). In the event that VetX is unable to process charges to your primary credit or debit card on such periodic basis or in such amount, you authorize VetX to charge an alternative card saved in the Payment Profile section of your VetX Site account.</p>
            <p>If the account number, expiration date or other information of any credit or debit card account associated with your subscription Service changes, VetX recommends that you update it as soon as possible.</p>
            <h6>C. Sales Tax</h6>
            <p>For certain purchases of Merchandise or Services made via the VetX Site, VetX is required to collect sales tax. The purchaser is responsible for any applicable taxes not collected by VetX and certain states require purchasers to file a sales/use tax return annually reporting taxable purchases that were not taxed and to pay such tax. For details, see the website of, or otherwise contact, the applicable taxing authority. If any sales tax will be collected directly by VetX in connection with a purchase that amount will be shown either prior to the completion of any purchase or reflected in the final confirmation of that purchase.</p>
            <h6>D. Billing and Automatic Renewal Policies for Certain Subscription Services</h6>
            <p>For certain Services billed on a periodic basis your subscription will automatically renew each year at then current VetX price, unless you cancel your Service prior to the beginning of the next applicable billing (and renewal) period. You understand that this authorization will remain in effect so long as this contract remains active for a period not to be less than 1 year from the initial start date. The primary credit or debit card you have stored in your VetX Site account will be charged on or about the same date each month of your subscription. If VetX is unable to process these charges to your primary credit or debit card, an alternative card stored in the Payment Profile section of your vetxapp.com account may be charged. In the event VetX discontinues or significantly alters a Service that you have purchased with automatic renewal, VetX (i) will notify you via the email address provided at purchase, (ii) may provide information about similar or new Services available via the VetX Site and (iii) reserves the right to cancel the applicable Service. In no event will VetX provide partial or pro-rated refunds. See below for details.</p>
            <p>YOU UNDERSTAND YOUR SUBSCRIPTION WILL AUTOMATICALLY RENEW AND YOU AUTHORIZE US (WITHOUT NOTICE TO YOU) TO COLLECT THE APPLICABLE SUBSCRIPTION FEE AND ANY TAXES USING ANY CREDIT OR DEBIT CARD SAVED IN YOUR VETXAPP.COM ACCOUNT.</p>
            <h6>E. Notifications and Other Terms and Conditions</h6>
            <p>By accepting this Agreement, you agree that VetX may notify you about changes to prices and/or Services by sending an e-mail message to your e-mail address on file with VetX and by publishing such notices from time to time on the informational page(s) of the VetX Site applicable to the Services. It is your responsibility to notify VetX of any change in your e-mail address by logging in to the applicable VetX Property and using the online account management tool. If your email service includes functionality or software that catalogues your emails in an automated manner, it is your responsibility to ensure that those emails we send to you reach your inbox, either by routinely monitoring your bulk, junk and/or spam e-mail folders or by adding us to your address book or safe senders list.</p>
            <p>Pricing, terms and conditions of Services and other products offered via the VetX Site are subject to availability and change.</p>
            <h6>F. Access to Services</h6>
            <p>Subscription activation for Services and other products offered via the VetX Site, and subsequent ability to access Services and other products offered via the VetX Site, may be subject to approval of your valid major credit or debit card and verification of other information that you submit or is otherwise obtained by VetX (e.g., your IP address).</p>
            <h3>5. VOTES; CONTESTS; SWEEPSTAKES</h3>
            <p>The VetX Site may offer you opportunities to enter contests and sweepstakes. By participating in any such event, you signify your agreement to all special terms set forth on the VetX Site applicable to the event as well as the terms of this Agreement.</p>
            <h3>6. LINKING</h3>
            <p>The VetX Site may contain links and pointers to other Internet sites and resources, including, without limitation, Third Party Providers and Third Party Social Networking Features. Links to and from the VetX Site from or to Third Party Provider, Third Party Social Networking Features and other websites or locations maintained by third parties, do not constitute an endorsement by VetX of any such third party website or content. VetX is not responsible for the availability of these third party resources or their contents. You should direct any concerns regarding any external link to the website administrator of the applicable third-party website or location.</p>
            <h3>7. DISCLAIMER OF WARRANTIES</h3>
            <p>USE OF THE VETX SITE AND THE PRODUCTS, MERCHANDISE AND SERVICES, INCLUDED HEREIN AND THEREIN, ARE AT YOUR EXCLUSIVE RISK, AND THE RISK OF INJURY FROM THE FOREGOING RESTS EXCLUSIVELY WITH YOU.</p>
            <h4>A. EXCEPT FOR ANY WARRANTIES THAT MAY BE EXPRESSLY PROVIDED BY VETX AND/OR THE APPLICABLE VENDOR, THE VETX SITE, AND ALL MATERIALS CONTAINED OR DISTRIBUTED HEREIN AND THEREIN, INCLUDING, BUT NOT LIMITED TO, ALL PRODUCTS, MERCHANDISE AND SERVICES ARE PROVIDED &ldquo;AS IS&rdquo; AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO ANY WARRANTIES OF TITLE OR WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</h4>
            <h4>B. VETX DOES NOT WARRANT THAT: (1) THE VETX SITE OR ANY PRODUCTS OR SERVICES WILL BE UNINTERRUPTED OR ERROR FREE; (2) DEFECTS OR ERRORS IN THE VETX SITE, THE PRODUCTS, MERCHANDISE OR SERVICES WILL BE CORRECTED; (3) THE VETX SITE, THE PRODUCTS, MERCHANDISE OR SERVICES WILL BE FREE FROM VIRUSES OR OTHER HARMFUL COMPONENTS; OR (4) ANY INFORMATION CONTAINED IN THE VETX SITE, THE OTHER VETX PROPERTIES, THE PRODUCTS, MERCHANDISE OR SERVICES WILL BE ACCURATE OR RELIABLE.</h4>
            <h3>8. LIMITATIONS ON LIABILITY AND DAMAGES</h3>
            <p>NOTWITHSTANDING ANY TERM IN THIS AGREEMENT, OTHER APPLICABLE TERMS AND CONDITIONS OF THE VETX SITE OR ANY ACT OR FAILURE TO ACT BY VETX OR ITS VENDORS, YOU ARE EXCLUSIVELY LIABLE FOR ANY AND ALL SUBMITTED CONTENT YOU TRANSMIT VIA THE COMMUNITY FEATURES OF THIS WEBSITE.</p>
            <h4>A. IN NO EVENT SHALL VETX BE LIABLE FOR ANY BREACH IN TRANSACTION SECURITY CAUSED BY A THIRD PARTY ARISING OUT OF OR RELATING TO ANY ATTEMPT TO PURCHASE PRODUCTS, MERCHANDISE OR SERVICES.</h4>
            <h4>B. IN NO EVENT SHALL VETX, OR ANY VENDOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO USE OF OR INABILITY TO USE THE VETX SITE INCLUDING, BUT NOT LIMITED TO, ANY TRANSACTION FOR PRODUCTS, MERCHANDISE OR SERVICES. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF VETX HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, THE LIABILITY OF VETX IN SUCH JURISDICTIONS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</h4>
            <h4>C. IN NO EVENT SHALL VETX BE LIABLE FOR ANY FAILURE, INTERRUPTION OR ERROR WITH RESPECT TO ANY ASPECT OF THE VETX SITE, INCLUDING THE AVAILABILITY OF ANY FEATURE OR FUNCTIONALITY.</h4>
            <ol>
              <li>VETX, ITS LICENSORS, ITS VENDORS, ITS VETERINARIANS, OR ANY THIRD PARTIES MENTIONED ON THE VETX SITE SHALL NOT BE LIABLE FOR ANY PERSONAL INJURY, INCLUDING DEATH, TO ANY PERSON OR ANIMAL CAUSED BY YOUR USE OR MISUSE OF THE VETX SITE OR ITS CONTENT.</li>
              <li>THE MAXIMUM LIABILITY OF VETX, OR ANY VENDOR FOR ANY CLAIM ARISING OUT OF OR IN CONNECTION WITH THE VETX SITE, THE MERCHANDISE OR THE SERVICES IS $1000.</li>
          </ol>
          <h3>9. INDEMNIFICATION</h3>
          <p>You hereby agree to indemnify and hold VetX, and each of its subsidiaries or affiliated entities, any entity which, now or in the future, controls, is controlled by, or is under common control with VetX, and the directors, officers, managers, employees and agents of the above entities, harmless from all claims, liabilities, damages and expenses (including attorneys' fees and expenses) arising out of or relating to: (A) your use of the VetX Site, (B) your purchase and use of the products, Merchandise and/or Services purchased via the VetX Site; or (C) any alleged breach of this Agreement by you.</p>
          <h3>10. TERMINATION</h3>
          <p>VetX may change, suspend or discontinue any aspect of the VetX Site at any time, including the availability of any product, Merchandise offering, Service, feature, database or content. VetX may also impose limits on certain offerings and features or restrict your access to parts, or the entirety, of the VetX Site without notice or liability at any time in VetX's exclusive discretion, without prejudice to any legal or equitable remedies available to VetX, for any reason or purpose, including, but not limited to, conduct that VetX believes violates this Agreement or other policies or guidelines posted on the VetX Site or conduct which VetX believes is harmful to other customers, to VetX's business, or to other information providers. You understand that this authorization will remain in effect so long as this contract remains active for a period not to be less than 1 year from the initial start date. You agree to notify VetX Inc. in writing of any changes in my account at least 30 days prior to the next billing date. If the above noted payment dates fall on a weekend or holiday, you agree to subscribe to a period of at least 1 year (12 months) from the initial billing date, that this relationship will continue indefinitely thereafter unless prior written notice is given and that any termination following this period will need written notice at least 30 days prior to the next billing date. In addition, this Agreement may be immediately terminated at any time by VetX in its sole discretion. In addition and without prejudice to any other remedy available to VetX, VetX may immediately terminate this Agreement if you breach any term of this Agreement.</p>
          <p>&nbsp;</p>
          <h3>11. ARBITRATION; CONSENT TO JURISDICTION IN NEW YORK; ATTORNEYS' FEES; TIME PERIOD LIMITATION FOR CLAIMS</h3>
          <p>Any and all disputes, claims or controversies arising out of or relating to this Agreement, the breach thereof, or any use of the Website (including all commercial transactions conducted through the Website) (&ldquo;Claims&rdquo;), except for claims filed in a small claims court that proceed on an individual (non-class, non-representative) basis, shall be settled by binding arbitration before a single arbitrator appointed by the American Arbitration Association (&ldquo;AAA&rdquo;) in accordance with its then governing rules and procedures, including the Supplementary Procedures for Consumer-Related Disputes, where applicable. In agreeing to arbitrate all Claims, you and VetX waive all rights to a trial by jury in any action or proceeding involving any Claim. The arbitration shall be held in Suffolk County, Massachusetts, and judgment on the award rendered by the arbitrator may be entered by any court having jurisdiction thereof. This arbitration undertaking is made pursuant to and in connection with a transaction involving interstate commerce, and shall be governed by and construed and interpreted in accordance with the Federal Arbitration Act at 9 U.S.C. Section 1, et seq. This arbitration provision shall survive termination of this Agreement.</p>
          <h4>A. Subject to the limitations set forth below in this Section 12.B, the arbitrator shall have authority to award legal and equitable relief available in the courts of the Commonwealth of Massachusetts, provided that:</h4>
          <ol>
              <li>The arbitrator shall not have authority to award punitive damages; and</li>
              <li>Any and all claims shall be arbitrated on an individual basis only, and shall not be consolidated or joined with or in any arbitration or other proceeding involving a Claim of any other party. You and VetX agree that the arbitrator shall have no authority to arbitrate any Claim as a class action or in any other form other than on an individual basis.</li>
          </ol>
          <h4>B. For any Claims that are not subject to arbitration: (a) the exclusive jurisdiction and venue for proceedings involving Claims shall be the federal and state courts of competent jurisdiction sitting within Suffolk County, Massachusetts (the &ldquo;Forum&rdquo;), and the parties hereby waive any argument that any such court does not have personal jurisdiction or that the Forum is not appropriate or convenient; (b) you and VetX waive any and all rights to trial by jury with respect to any Claims.</h4>
          <h4>C. In the event that either party initiates a proceeding involving any Claim other than an arbitration in accordance with this Section 12, or initiates a proceeding involving a Claim under Section 12 other than in the Forum, the other party shall recover all attorneys' fees and expenses reasonably incurred in enforcing this agreement to arbitrate and the Forum to which the parties have herein agreed.</h4>
          <h4>D. To the maximum extent permitted by law, you permanently and irrevocably waive the right to bring any Claim in any forum unless you provide VetX with written notice of the event or facts giving rise to the Claim within one (1) year of their occurrence.</h4>
          <h3>12. CHOICE OF LAW</h3>
          <p>Any and all Claims arising out of or related to this Agreement or to your use of any product or service distributed by VetX shall be governed by, and construed and interpreted in accordance with, the laws of the Commonwealth of Massachusetts, without regard to conflict of laws principles.</p>
          <h3>13. MISCELLANEOUS</h3>
          <p>This Agreement constitutes the entire agreement between the parties, and supersedes all prior written or oral agreements or communications with respect to the subject matter herein. VetX in its sole discretion may amend this Agreement, and your use of the VetX Site after such amendment is posted on this Website will constitute acceptance of it by you. Sections 8, 9, 10, 12, 13 and 14 of this Agreement will survive any termination or cancellation of this Agreement. If any term in this Agreement is declared unlawful, void or for any reason unenforceable by any court, then such term will be deemed severable from the remaining terms and will not affect the validity and enforceability of such remaining terms. The section headings in this Agreement are for convenience only and must not be given any legal import.</p>
          <h3>14. ACCEPTANCE OF TERMS OF USE</h3>
          <p>BY USING THE VETX SITE, YOU SIGNIFY YOUR AGREEMENT TO THE TERMS OF THIS AGREEMENT. If you do not agree to the terms in this Agreement, you must not use the VetX Site. VetX may change the terms of this Agreement at any time, and your use of the VetX Site after such changes are posted will mean that you accept them.</p>
          <h3>15.& NOTICE FOR CALIFORNIA CONSUMERS</h3>
          <p>Under California Civil Code Section 1789.3, California users of the VetX Site are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.</p>
          <p><strong>&nbsp;</strong></p>
          <p>SIGNATURE <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DATE <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></p>
          <p>&nbsp;</p>
          <p><strong>&nbsp;</strong></p>

      </div>
  </div>
</div>

</div>
</div>

<!-- TM end -->

<!-- Pravicy policy -->

<div id="policy" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy policy</h4>
    </div>
    <div class="modal-body">
      <div class="privacy_policy_container">

          <p>75 Arlington St. Suite 500</p>
          <p>Boston, MA 02116</p>
          <p>1-855-483-8669</p>
          <p><strong>Privacy Policy</strong></p>
          <p>This privacy statement describes how <strong>VetX</strong>collects and uses the personal information you provide to us on our website <a href="http://www.vetxapp.com">www.vetxapp.com</a> (&ldquo;Website&rdquo;) and any mobile application connected or associated with the Website. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.</p>
          <p><strong>How We Collect Your Information</strong></p>
          <p>We receive a number of different types of information about you, including:</p>
          <ul>
            <li><strong>Registration information</strong></li>
        </ul>
        <p>When you sign up for the VetX you may be required to provide information such as your name, email address, phone number, address, and credit card. In some cases, you may be able to register using other information, through 3rd party services such as Facebook.</p>
        <ul>
            <li><strong>Information you choose to share</strong></li>
        </ul>
        <p>Your information also includes the information you choose to share on 3rd party services such as Facebook. This includes your profile information, as well as your friend&rsquo;s list on Facebook. It also includes the information you choose to share when you take an action, such as when you invite others to join VetX.</p>
        <p>Your name, profile pictures, cover photos, gender, networks, username and User ID are treated just like information you choose to make public.&nbsp;<a href="http://www.facebook.com/about/privacy/your-info#public-info">Learn more</a></p>
        <p>Your birthday allows us to determine whether parental consent is necessary for you to use our service. You must be 13 or older to use our service.</p>
        <p><strong>Other information we receive about you</strong></p>
        <p>We also receive other types of information about you:</p>
        <ul>
            <li>We receive data about you whenever you sign in with Facebook, and when you share your information to Facebook through VetX.</li>
            <li>We receive data from the computer, mobile phone or other device you use to access VetX. This may include your IP address and other information about things like your internet service, location, the type (including identifiers) of browser you use, or the pages you visit. For example, we may get your GPS or other location information so we can tell youwhere the nearest veterinary clinic to you is located and an estimated distance.</li>
            <li>We receive data sometimes through&nbsp;<a href="http://www.facebook.com/about/privacy/cookies">cookies</a>. This may include the date and time you visit the site; the web address, or URL, you're on; technical information about the IP address, browser and the operating system you use; [and, if you are logged in to Facebook, your User ID].</li>
        </ul>
        <p>The Website does not respond to Do Not Track (DNT) signals.</p>
        <p><strong>Information From Your Mobile Device</strong></p>
        <p>The app and website collect your GPS location using locational services, which can be disabled at any time from the settings. The app also may ask your permission to view your photos or use the camera to upload photos to aid the veterinarian answering your question.</p>
        <p><strong>How We Use Your Information</strong></p>
        <p>We use the information we receive about you in connection with the services and features we provide to you. For example, in addition to helping you find relevant information about veterinarians who may assist you in caring for your pet, we may use the information we receive about you:</p>
        <ul>
            <li>as part of our efforts to keep VetX and other VetX products, services and integrations safe and secure;</li>
            <li>to protect VetX or others' rights or property;</li>
            <li>to provide you with location features and services, like telling you when something is going on nearby;</li>
            <li>to make suggestions to you and other users on VetX, such as: suggesting that your friend use our contact importer because you found friends using it, suggesting that another user add you as a friend because the user imported the same email address as you did, or suggesting that your friend tag you or your pet in a picture they have uploaded with you or your pet in it;</li>
            <li>for internal operations, including troubleshooting, data analysis, testing, research and service improvement.</li>
        </ul>
        <p>Granting us this permission not only allows us to service VetX as it exists today, but it also allows us to provide you with innovative features and services we develop in the future that use the information we receive about you in new ways.</p>
        <p>While you are allowing us to use the information we receive about you, you always own all of your information. Your trust is important to us, which is why we don't share information we receive about you with others unless we have:</p>
        <ul>
            <li>received your permission;</li>
            <li>given you notice, such as by telling you about it in this policy; or</li>
            <li>removed your name or any other personally identifying information from it.</li>
        </ul>
        <p>Of course, for information others share about you, they control how it is shared.</p>
        <p>We store data for as long as it is necessary to provide products and services to you and others, including those described above. Typically, information associated with your account will be kept until your account is deleted. For certain categories of data, we may also tell you about specific data retention practices.</p>
        <p>&nbsp;</p>
        <p><strong>How We Share Your Information</strong></p>
        <p>We will not rent or sell your information to third parties outside VetX (or the group of companies of which VetX is a part) without your consent, except as noted in this Policy.</p>
        <p><strong>Parties with whom we may share your information:</strong></p>
        <ul>
            <li>We may share User Content and your information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that VetX is part of, or that become part of that group ("Affiliates"). Affiliates may use this information to help provide, understand, and improve the app (including by providing analytics) and Affiliates' own services (including by providing you with better and more relevant experiences). But these Affiliates will honor the choices you make about who can see your information.</li>
            <li>We also may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide our services to you ("Service Providers"). Our Service Providers will be given access to your information as is reasonably necessary to provide our services under reasonable confidentiality terms.</li>
            <li>We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.</li>
        </ul>
        <p><strong>Parties with whom you may choose to share your information:</strong></p>
        <ul>
            <li>We do not make any of your information public, unless you choose to share it through Facebook</li>
            <li>Any information or content that you voluntarily choose to share publicly becomes available to the public, as controlled by any applicable privacy settings that you set. To change your privacy settings, please go to the settings tab on your profile. Once you have shared information or made it public, that information may be re-shared by others.</li>
            <li>If you remove information that you posted to our service, copies may remain viewable in cached and archived pages, or if other users have copied or saved that information.</li>
        </ul>
        <p><strong>What happens in the event of a change of control:</strong></p>
        <ul>
            <li>If we sell or otherwise transfer part or the whole of VetX our assets to another organization (e.g., in the course of a transaction like a merger, sale, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email address, your user information and any other information collected by us may be among the items sold or transferred. You will continue to own your information. You and the buyer or transferee will continue to be subject to this Privacy Policy until it is changed.</li>
        </ul>
        <p><strong>Responding to legal requests and preventing harm:</strong></p>
        <p>We may access, preserve and share your information in response to a legal request (like a search warrant, court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of the United States where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; and to prevent death or imminent bodily harm. Information we receive about you may be accessed, processed and retained for an extended period of time when it is the subject of a legal request or obligation, governmental investigation, or investigations concerning possible violations of our terms or policies, or otherwise to prevent harm.</p>
        <p>&nbsp;</p>
        <p><strong>Security of Your Information</strong></p>
        <p>We use reasonable precautions consistent with standard industry practice to protect our customers&rsquo; personal information and to store it securely.&nbsp; However, no data transmissions over the Internet can be guaranteed to be 100% secure.&nbsp; As a result, we cannot ensure or warrant the security of any information transmitted over the Internet.&nbsp; The safety and security of your information also depends on you.&nbsp; For example, where we have given your (or where you have chosen) a password for your account or specific services, you are responsible for keeping this password confidential.</p>
        <p><strong>How to Access and Update Your Information:</strong></p>
        <ul>
            <li>You may update your account at any time by logging in and changing your profile settings.</li>
            <li>You may unsubscribe from email communications from us by clicking on the "unsubscribe link" provided in such communications. As noted above, you may not opt out of Service-related communications (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Service, technical and security notices).</li>
            <li>If you have any questions about reviewing or modifying your account information, please contact us directly at hello@vetxapp.com</li>
        </ul>
        <p><strong>Children&rsquo;s Privacy</strong></p>
        <p>VetX does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register for our services. Our service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at hello@vetxapp.com</p>
        <p><strong>California Privacy Rights</strong></p>
        <p>If you are a resident of California, pursuant to California Civil Code &sect;1798.83 you may request certain information regarding our disclosure of your personal information to a third party for that party&rsquo;s direct marketing purposes.&nbsp; Any such disclosure made to a third party by us would be otherwise in accordance with the term of this Privacy Policy.&nbsp; To make such a request, please send or e-mail to hello@vetxapp.com or write to us at 75 Arlington St. Boston, MA 02116.</p>
        <p>&nbsp;</p>
        <p>SIGNATURE <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DATE <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div>
</div>

</div>
</div>

<!-- PP end -->


<% include footer.ejs %>
<style type="text/css">
   /* .myfooter {
        background: #EDEFF1;
        height: auto;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
    }*/
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>
<script src="public/js/vendor/bootstrap.min.js"></script>
<script src="public/js/vendor/css3-animate-it.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
<script src="public/js/simpleform.min.js"></scripCt>
    <script src="public/js/main.js"></script>
    <script type="text/javascript">
       $(".testform").simpleform({
        speed: 500,
        transition: 'fade',
        progressBar: true,
        showProgressText: true,
        validate: true
    });

       $("#testform2").simpleform({
        speed: 500,
        transition: 'slide',
        progressBar: true,
        showProgressText: true,
        validate: true
    });

       $("#testform3").simpleform({
        speed: 500,
        transition: 'none',
        progressBar: true,
        showProgressText: true,
        validate: false
    });


       $("#testform2").on('sf-finish', function(e, from, to) {
        alert('Sending form to process or not?');
    e.preventDefault(); // this you have to call if you need to interrupt submit form
})

       function validateForm(formID, Obj) {

          jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, ""); 
            return this.optional(element) || phone_number.length > 9 &&
            phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
        }, "Please specify a valid phone number");

          jQuery.validator.addMethod("zipcode_val", function(value, element) {
              return this.optional(element) || /^\d{5}(?:-\d{4})?$/.test(value);
          }, "Please provide a valid zipcode.");

          switch (formID) {
            case 'testform':
            Obj.validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                    },
                    name: {
                        required: true
                    },
                    street: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: "Please enter an email address *",
                        email: "Not a valid email address"
                    },
                    name: {
                        required: "Please enter your name *"
                    },
                    street: {
                        required: "Please enter street name"
                    }
                }

            });
            return Obj.valid();
            break;

            case 'testform2':
            Obj.validate({
                rules: {
                    firstName: {
                        required: true
                    },
                    lastName: {
                        required: true
                    },
                    username: {
                        required: true,
                        remote:{
                          url: "/clinic/checkUsername",
                          type: "post",
                          data: {
                             username :function(){ return $('#username').val();},
                         },
                         async:true ,
                         dataFilter: function(data) {
                            var json = JSON.parse(data);
                            if(json.status == true) {
                                return true;
                            }

                            return "\"" + json.error + "\"";

                        },
                    },
                },
                mobileNumber: {
                    required: true,
                    phoneUS: true
                },
                email: {
                    required: true,
                    email: true,
                    remote:{
                      url: "/clinic/checkEmail",
                      type: "post",
                      data: {
                         email :function(){ return $('#email').val();},
                     },
                     async:true ,
                     dataFilter: function(data) {
                        var json = JSON.parse(data);
                        if(json.status == true) {
                            return true;
                        }

                        return "\"" + json.error + "\"";

                    },
                },
            },
            password: {
                required: true,
                minlength : 5
            },
            confirm_password: {
                required: true,
                equalTo: "#password"
            },
            country: {
                required: true
            },
            address: {
                required: true
            },
            state: {
                required: true
            },
            city: {
                required: true
            },
            phoneNumber: {
                required: true,
                phoneUS: true

            },
            zipCode: {
                required: true,
                zipcode_val:true
            }

        },
        messages: {
          firstName: {
            required: "Please enter firstname *"
        },
        lastName: {
            required: "Please enter lastname *"
        },
        username: {
            required: "Please enter clinicname *"
        },
        mobileNumber: {
            required: "Please enter mobile number *"
        },
        email: {
            required: "Please enter an email address *",
            email: "Not a valid email address *"
        },
        password: {
            required: "Please enter your password *"
        },
        confirm_password: {
            required: "Please enter confirm password *"
        }, 
        country: {
            required: "Please enter country name *"
        },
        address: {
            required: "Please enter address *"
        },
        state: {
            required: "Please enter state *"
        },
        city: {
            required: "Please enter city *"
        },
        phoneNumber: {
            required: "Please enter phonenumber *"  
        },
        zipCode: {
            required: "Please enter zipcode *"
        }
    }
});
            return Obj.valid();
            break;
        }
    }



</script>
<script>
    document.getElementById("uploadBtn").onchange = function() {
        document.getElementById("uploadFile").value = this.value;
    };
</script>
<script>
    $(document).ready(function() {

        $(".firstsectionbuy").show();
        $(".sectionsectionbuy").hide();
        $(".thirdsectionbuy").hide();
        $(".fourthsectionbuy").hide();
        $(".fifthsectionbuy").hide();


    });
    $(document).ready(function() {
        $("#next1").click(function() {
            $(".firstsectionbuy").hide();
            $(".sectionsectionbuy").show();
        });
        $("#back2").click(function() {
            $(".firstsectionbuy").show();
            $(".sectionsectionbuy").hide();
        });
        $("#back3").click(function() {
            $(".sectionsectionbuy").show();
            $(".thirdsectionbuy").hide();
        });
        $("#next2").click(function() {
            $(".sectionsectionbuy").hide();
            $(".thirdsectionbuy").show();
        });
        $("#next3").click(function() {
            $(".thirdsectionbuy").hide();
            $(".fifthsectionbuy").show();
        });
        // $("#next4").click(function() {
        //     $(".fourthsectionbuy").hide();
        //     $(".fifthsectionbuy").show();
        // });

    });
</script>
<script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
<script>
    // $(window).scroll(function() {
    //     if ($(".navbar").offset().top > 50) {
    //         $('#custom-nav').addClass('affix');
    //         $(".navbar-fixed-top").addClass("top-nav-collapse");
    //     } else {
    //         $('#custom-nav').removeClass('affix');
    //         $(".navbar-fixed-top").removeClass("top-nav-collapse");
    //     }
    // });


    $("testform2").submit(function(event) {
        /* preventing the submit */
        event.preventDefault();

        var myArray = [];

    /* 
        using myArray.push(value); 
        you can add all the value of yours textboxes to this array.
        */

        var myJsonArray = JSON.parse(myArray);

        $.post("/doctor/register", { json_array : myJsonArray }, function(result) {
            /* this function can eventualy used to process the result of your php */
        });
    });


    function signUp()
    {


        var $inputs = $('#testform2 :input');
        var values = {};
        $inputs.each(function(key) {
            values[this.name] = $(this).val();
        });

        // var one={
        //     "firstName":"ugendar",
        //     "lastName":"kumar",
        //     "clinicName":"pet health care",
        //     "mobileNumber":"9840576670",
        //     "email":"ugendar@yahoo.in",
        //     "password":"doodleblue",
        //     "country":"india",
        //     "state":"tamil nadu",
        //     "city":"chennai",
        //     "phoneNumber":"044-6551969",
        //     "zipCode":600068
        // };

        // {"plan_info":"582b2a24bbd4982984b3276d","firstName":"a","lastName":"a","clinicName":"a","mobileNumber":"1-222-222-2222","email":"a@a.com","password":"1-222-222-2222","confirm_password":"1-222-222-2222","country":"1-222-222-2222","address":"1-222-222-2222","state":"1-222-222-2222","city":"1-222-222-2222","phoneNumber":"1-222-222-2222","zipCode":"12345-6789","prev":"Previous","next":"Next","submit":"Submit"}

        // event.preventDefault();
        // $.ajax({
        //     type: 'POST',
        //     dataType : "json",
        //     contentType: "application/json; charset=utf-8",
        //     data: JSON.stringify(values),
        //     url:'/doctor/register',
        //     success: function(data) {

        //     }


        // });


    }

//SET SECTED ENTERPRICE PRICE 

function setPrice(price,doctorsCount)
{
    var amt=parseInt(price)+parseInt(99);

    $("#price").val(amt);
    $("#doctorsCount").val(doctorsCount);

}

$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1] || 0;
}

var enterPriceMode=$.urlParam('q');

if(enterPriceMode==1)
{
    $("#plan_info_1").attr('checked', 'checked');

    // $("#paidPlan").show();
    // $("#trailPlan").hide();

}
else if(enterPriceMode==2)
{
    $("#plan_info_2").attr('checked', 'checked');
    //$("#price").val("0");
    // $("#paidPlan").hide();
    // $("#trailPlan").show();
}
else if(enterPriceMode==3)
{
    $("#plan_info_3").attr('checked', 'checked');
    //$("#price").val("0");
    // $("#paidPlan").hide();
    // $("#trailPlan").show();
}
else 
{
    // $("#paidPlan").show();
    // $("#trailPlan").hide();

    $("#plan_info_1").attr('checked', 'checked');
    $("#price").val("498");
}


</script>



</body>

</html>
