<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Vetx </title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Raleway', sans-serif;
        }
        
        a:hover {
            text-decoration: none !important;
        }
        
        .group-form {
            padding: 0 20px;
            margin-bottom: 15px;
        }
        
        ul.social,
        .store {
            margin: 0;
            padding: 0;
        }
        
        ul.social li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        ul.social li img {
            width: 40px;
        }
        
        .inner {
            position: relative;
            font-family: 'Lato', sans-serif;
            text-align: center;
            width: 450px;
            margin: 0 auto;
            background-image: url('https://www.vetxapp.com/public/mail/images/doc_bg.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 350px;
            color: #fff;
            font-size: 35px;
        }
        
        .inner-con {
            line-height: 70px;
            margin-top: 50px;
            display: inline-block;
            border-top: 5px solid #f5841f;
            border-bottom: 5px solid #f5841f;
        }
        
        .store li {
            list-style-type: none;
            display: inline-block;
            padding: 15px;
        }
        
        .ul-cls li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
        }
        
        .ul-cls-panel li {
            font-size: 15px;
            margin-left: 15px;
            padding-bottom: 8px;
            list-style-type: decimal;
        }
        
        .store li img {
            width: 140px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background: #f2f2f2;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr> 
            <td> 
               {{firstName}} at has requested an appointment at {{time}} for {{petName}}. <br>Please follow up with them as soon as possible at {{userEmail}} !<br> Congrats {{clinicName}}!

           </td>


       </tr>

   </table>
</body>

</html>
